span{
    float: right;
}

.jumbotron{
    text-align: center;
}

.nav li{
    font-size: 18px;
    padding-left: 30px;
}

.panel-title{
    padding: 10px;
}

.panel-heading{
    font-size: 24px;
}

.row{
    margin-top: 30px;
}

.panel-body{
    margin: 20px;
    font-size: 16px;
}